---
import Layout from '../layouts/layout.astro';
import Heading from '../components/heading.astro';
import robot_bg from '../images/robot-bg.jpg';
---

<Layout title="Page not found">
    <main>
        <Heading titleText="404: The page requested was not found" buttonText="Go Home" buttonURL="/" bgImageData={robot_bg}/>
    </main>
</Layout>

<style>
    main {
        width: 100%;
    }
    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: white;
        text-shadow: 0 0 15px var(--red-shadow);
    }
</style>