---
import Layout from '../layouts/layout.astro';
import Title from '../components/title.astro';
import Projects from '../components/projects.astro';
---

<Layout title="Robotics Team">
    <main>
        <Title />
        <Projects />
    </main>
</Layout>

<style>
    main {
        width: 100%;
    }
</style>