---
import Layout from '../layouts/LayoutDep.astro';
---

<Layout title="Welcome to Astro." navIndex={0}>
    <main>
        <h1>You aren't supposed to be here...</h1>
        <p>
            click <a href="https://ftcturbov8.com">here</a> to go back to our main site.
        </p>

    </main>
</Layout>

<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
        color: white;
    }

    p {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
        color: white;
    }

    a:link, a:visited {
        color: #006fff;
        background-color: transparent;
        text-decoration: none;
    }


    a:hover {
        color: #0095ff;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: #00d0ff;
        background-color: transparent;
        text-decoration: underline;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
        color: white;
    }

    p {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
        color: white;
    }

    a:link, a:visited {
        color: #006fff;
        background-color: transparent;
        text-decoration: none;
    }


    a:hover {
        color: #0095ff;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: #00d0ff;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
