---
import Layout from '../layouts/layout.astro';
import Heading from '../components/heading.astro';
import Projects from '../components/projects.astro';
import bgImage from '../images/robot-bg.png';
import {getImage} from "astro:assets";
const optImage=(await getImage({src:bgImage}));
---

<Layout title="">
    <main>
        <Heading titleText='BUILDING THE FUTURE' subtitleText="Innovating through robotics and technology" buttonText="View Our Projects" buttonURL="" bgImage={optImage.src}/>
        <Projects/>
    </main>
</Layout>

<style>
    main {
        width: 100%;
    }
</style>