---
import Layout from '../layouts/layout.astro';
import Heading from '../components/heading.astro';
import Projects from '../components/projects.astro';
---

<Layout title="Robotics Team">
    <main>
        <Heading/>
        <Projects/>
    </main>
</Layout>

<style>
    main {
        width: 100%;
    }
</style>