---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Projects from '../components/Projects.astro';
import bgImage from '../images/robot-bg.jpg';
---

<Layout title="">
    <main class="main-content">
        <Heading titleText='BUILDING THE FUTURE' subtitleText="Innovating through robotics and technology" buttonText="View Our Projects" buttonURL="#projects" bgImageData={bgImage}/>
        <Projects/>
    </main>
</Layout>